.page-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-black);
}

.page-header ul {
  display: flex;
}

.page-header a {
  display: block;
  padding: 24px 20px;
  font: var(--font-p1);
  color: var(--color-white);
  text-decoration: none;
}
