.advantages ul {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-top: 64px;
  padding-bottom: 58px;
  color: var(--color-white);
  list-style: none;
}

.advantages li {
  display: block;
  width: 277px;
  text-align: center;
}

.advantages p {
  position: relative;
  padding-top: 56px;
}

.advantages p::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 130px;
  display: block;
  height: 14px;
  width: 14px;
  transform: rotate(45deg);
  background-color: var(--color-white);
}
