/*
#todo
1) order selectors
2) order styles
*/

.button {
  display: inline-flex;
  vertical-align: middle;
  padding: 14px 20px;
  border: none;
  color: var(--color-white);
  background-color: var(--color-black);
  font: bold 16px/1 "PT Sans", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  outline-offset: 0;
  cursor: pointer;
  gap: 8px;
}

.button:hover {
  background-color: var(--color-brown-600);
}

.button:focus-visible {
  background-color: var(--color-brown-600);
  outline: 2px solid var(--color-brown-400);
}

.button--disabled {
  color: var(--color-grey-400);
  background-color: var(--color-grey-600);
  cursor: not-allowed;
}

.button--disabled:hover {
  background-color: var(--color-grey-600);
  cursor: not-allowed;
}
.button--disabled:focus-visible {
  background-color: var(--color-grey-600);
  outline: 2px solid var(--color-grey-400);
}

.button--additional {
 color: var(--color-grey-800);
 background-color: var(--color-white);
}

.button--additional:hover {
  background-color: var(--color-brown-400);
}


.button--additional:focus-visible {
  background-color: var(--color-brown-400);
  outline: 2px solid var(--color-brown-600);
}

.button svg {
  width: 16px;
  height: 16px;
}


