.form-field {
  display: inline-grid;
  grid-template-columns: auto 1fr;
  column-gap: 2px;
  row-gap: 8px;
}

.form-field__box {
  margin: 0;
  font: normal 14px/1.4 "PT Sans", sans-serif;
  font-style: normal;
  color: var(--color-grey-600);
}

.form-field__box--full-width {
  grid-column: 1/-1;
}

.form-field__label {
  font: bold 16px/18px "PT Sans", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  color: var(--color-grey-800);
}

.form-field__tooltip {
  position: relative;
  display: inline-flex;
  width: 16px;
  height: 16px;
  color: var(--color-grey-800);
  cursor: pointer;
}

.form-field__tooltip:hover {
  color: var(--color-brown-500);
}

.form-field__tooltip:focus-within {
  outline: 2px solid var(--color-brown-500);
}

.form-field__tooltip svg  {
  display: block;
  width: 100%;
  height: 100%;
}

.form-field__tooltip span {
  position: absolute;
  bottom: calc(100% + 10px);
  display: none;
  max-width: 160px;
  padding: 5px 8px;
  background-color: var(--color-grey-800);
  color: var(--color-white);
  font: normal 14px/1.4 "PT Sans", sans-serif;
  text-transform: none;
  border-radius: 8px;
}

.form-field__tooltip input:checked ~ span {
  display: block;
}

.form-field__input {
  box-sizing: border-box;
  padding: 10px 16px;
  font: bold 16px/1.5 'PT Sans', sans-serif;
  color: var(--color-grey-800);
  background-color: var(--color-white);
  border: 2px solid var(--color-grey-800);
  border-radius: 0;
}

.form-field__input:hover {
  border-color: var(--color-brown-500);
}

.form-field__input:focus {
  border-color: var(--color-brown-500);
  outline: 2px solid var(--color-brown-400);
}

.form-field__input::placeholder {
  color: var(--color-grey-500);
}

.form-field__input:invalid,
.form-field__input--invalid, 
.form-field__input--invalid:hover,
.form-field__input--invalid:focus {
  border-color: var(--color-red);
  outline-color: var(--color-orange);
}

.form-field__input:disabled {
  color: var(--color-grey-600);
  background-color: var(--color-grey-400);
  border-color: var(--color-grey-600);
  cursor: not-allowed;
}

.form-field__input--select {
  appearance: none;
  padding-right: calc(16px * 3);
  background-image: url('../../img/arrow-down.svg');
  background-repeat: no-repeat;
  background-position: right 16px center;
}
