.h2 {
  margin: 0;
  font: bold 24px/1.2 "PT Sans Narrow", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  color: inherit;
}

.h2--link {
  text-decoration: underline;
}

.h2--link:hover {
  text-decoration: underline;
}
