.h3 {
  margin: 0;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 20px;
  line-height: 1.4;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  color: inherit;
}

.h1--link {
  text-decoration: underline;
}

.h1--link:hover {
  text-decoration: underline;
}


