.h3 {
  margin: 0;
  font: bold 20px/1.4 "PT Sans Narrow", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  color: inherit;
}

.h1--link {
  text-decoration: underline;
}

.h1--link:hover {
  text-decoration: underline;
}


