.p1 {
  margin: 0;
  font: normal 16px/1.5 "PT Sans", sans-serif;
  font-style: normal;
  color: inherit;
  text-transform: none;
  text-decoration: none;
}

.p1--bold {
  font-weight: bold;
}

.p1--uppercase {
  text-transform: uppercase;
}
