.page-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url('/public/assets/img/noisy-texture.png');
  background-repeat:repeat;
  color: var(--color-white);
  background-color: var(--color-grey-800);
}

.page-footer .wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.page-footer .email {
  width: 223px;
  height: 39px;
}

.page-footer__feedback .h3 {
  text-transform: uppercase;
}

.page-footer__feedback .input {
  display: flex;
  padding-top: 14px;
}

.page-footer .button {
  width: 56px;
  height: 44px;
}

.page-footer__social-media p {
  text-transform: uppercase;
  padding-bottom: 22px;
}

.page-footer__social-media .links {
  display: flex;
  justify-content: space-between;
}

.page-footer__social-media svg {
  width: 16px;
  height: 16px;
}

.page-footer__social-media .p2 {
  text-transform: none;
  padding-top: 36px;
}

.page-footer__social-media .p2 span {
  padding-top: 36px;
  color: var(--color-brown-400);
  text-decoration: underline;
}

