.page-header {
  background-color: var(--color-black);
}

.page-header .wrapper {
  display: flex;
  justify-content: space-between;
}

.page-header ul {
  display: flex;
  align-items: center;
}

.page-header a {
  display: flex;
  align-items: center;
  gap: 8px;
  min-height: 22px;
  padding: 24px 20px;
  font: var(--font-paragraph);
  font-weight: 700;
  line-height: 22px;
  color: var(--color-white);
  text-transform: uppercase;
  text-decoration: none;
}

.page-header a:hover {
  background-color: var(--color-grey-600);
}
