.product-card {
  display: flex;
  flex-direction: column;
  width: 220px;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow-sm);
}

.product-card div {
  padding: 16px 16px;
}

.product-card p {
  margin: 0;
}

.product-card .h2 {
  padding: 12px 0 16px 0;
  color: var(--color-brown-600);
}

.product-card sup {
  font-size: 0.5em;
}
